baseURL = "/"
title = "Kubeflow"
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"

enableRobotsTXT = true

theme = ["docsy"]

###############################################################################
# Docsy
###############################################################################
enableGitInfo = true

# language settings
contentDir = "content/en"
defaultContentLanguage = "en"
# tell Hugo not to include the /en/ element in the URL path for English docs
defaultContentLanguageInSubdir = false
# useful when translating
enableMissingTranslationPlaceholders = true
# disable taxonomies
disableKinds = ["taxonomy"]
# deprecated directories
ignoreFiles = []

# Override module mounts, mainly so that we can update fontawesome.
# NOTE: this is based on docsy's config.yaml from v0.6.0, and must be updated if the docsy theme ever is.
#       https://github.com/google/docsy/blob/v0.6.0/config.yaml#L24-L38
[module]

  [[module.mounts]]
    source = "assets"
    target = "assets"

  [[module.mounts]]
    source = "node_modules/bootstrap"
    target = "assets/vendor/bootstrap"

  [[module.mounts]]
    source = "node_modules/@fortawesome/fontawesome-free"
    target = "assets/vendor/Font-Awesome"

  [[module.mounts]]
    source = "i18n"
    target = "i18n"

  [[module.mounts]]
    source = "layouts"
    target = "layouts"

  [[module.mounts]]
    source = "static"
    target = "static"

  [[module.mounts]]
    source = "node_modules/@fortawesome/fontawesome-free/webfonts"
    target = "static/webfonts"

###############################################################################
# Hugo - Top-level navigation (horizontal)
###############################################################################
[menu]
  [[menu.main]]
    name = "Kubeflow SDK Survey"
    weight = -1100
    pre = "<i class='fas fa-bullhorn pr-2' style='color: #FFC107'></i>"
    post = "<br><span class='badge badge-warning'>Share Your Feedback</span>"
    url = "https://docs.google.com/forms/d/e/1FAIpQLSet_IAFQzMMDWolzFt5LI9lhzqOOStjIGHxgYqKBnVcRtDfrw/viewform?usp=dialog"
  [[menu.main]]
    name = "" 
    weight = -1000
    pre = "<span style='display:inline-flex; align-items:center;'><img src='/events/images/cloud-native-ai-2025.png' style='height:60px; width:auto; margin-right:8px;'><span style='display:flex; flex-direction:column; justify-content:center;'><span class='badge badge-warning' style='margin-bottom:4px;'>March 23rd, 2026</span><span class='badge badge-warning'>Amsterdam, Netherlands</span></span></span>"
    post = ""
    url = "https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/co-located-events/cloud-native-ai-kubeflow-day/"
#  [[menu.main]]
#    name = "GSoC 2025"
#    weight = -900
#    pre = "<i class='fas pr-2'><img src='/docs/images/logos/gsoc.svg' style='height: 1.22em;'></i>"
#    post = "<br><span class='badge badge-success'>Ongoing</span>"
#    url = "/events/gsoc-2025/"
  [[menu.main]]
    name = "Docs"
    weight = -102
    pre = "<i class='fas fa-book pr-2'></i>"
    url = "/docs/"
  [[menu.main]]
    name = "Community"
    weight = -101
    pre = "<i class='fas fa-users pr-2'></i>"
    url = "/docs/about/community/"
  [[menu.main]]
    name = "Blog"
    weight = -100
    pre = "<i class='fas fa-rss pr-2'></i>"
    url = "https://blog.kubeflow.org/"
  [[menu.main]]
    name = "GitHub"
    weight = -99
    pre = "<i class='fab fa-github pr-2'></i>"
    url = "https://github.com/kubeflow/"

###############################################################################
# Docsy - Output Formats
###############################################################################
[outputs]
section = [ "HTML" ]

###############################################################################
# Docsy - Goldmark markdown parser
###############################################################################
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

    # For MathJax
    # https://gohugo.io/content-management/mathematics/#setup
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]

  [markup.highlight]
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    noClasses = false
    guessSyntax = "true"

###############################################################################
# Docsy - DrawIO configuration
###############################################################################
[params.drawio]
enable = true

###############################################################################
# Docsy - Image processing configuration
###############################################################################
[imaging]
  resampleFilter = "CatmullRom"
  quality = 75
  anchor = "smart"

###############################################################################
# Docsy - Services configuration
###############################################################################
[services]
  [services.googleAnalytics]
  id = "G-Y2KDEK0998"

###############################################################################
# Docsy - Language configuration
###############################################################################
[languages]
  [languages.en]
    title = "Kubeflow"
    languageName ="English"
    weight = 1

    [languages.en.params]
      description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"

###############################################################################
# Docsy - Site Parameters
###############################################################################
[params]
  github_repo = "https://github.com/kubeflow/website"
  github_project_repo = "https://github.com/kubeflow/kubeflow"

  RSSLink = "/index.xml"
  author = "kubeflow.org"
  github = "kubeflow"

  copyright = "The Kubeflow Authors."
  privacy_policy = "https://policies.google.com/privacy"
  trademark = "https://www.linuxfoundation.org/trademark-usage/"

  # Google Custom Search Engine ID.
  gcs_engine_id = "007239566369470735695:624rglujm-w"

  # The text label for the version menu in the top bar.
  # The value depends on the branch:
  #  - `master` -> "Version"
  #  - `v1.0-branch` -> "v1.0"
  version_menu = "Version"

  # The version of the docs. This is used in the "version-banner" partial.
  # The value depends on the branch:
  #  - `master` -> "REPLACE_WITH_VERSION_ON_ARCHIVE"
  #  - `v1.0-branch` -> "v1.0"
  version = "REPLACE_WITH_VERSION_ON_ARCHIVE"

  # If the "version-banner" partial should display at the top of each page.
  # The value depends on the branch:
  #  - `master` -> false
  #  - `v*-branch` -> true
  archived_version = false

  # The URL of the latest version of the docs.
  # Used in the "version-banner" partial.
  url_latest_version = "https://www.kubeflow.org/docs/"

  # The GitHub branch for the current version of the docs.
  # Used to generate the "Edit this page" link.
  # The value depends on the branch:
  #  - `master` -> "master"
  #  - `v1.0-branch` -> "v1.0-branch"
  github_branch = "master"

  # Disable MathJax by default
  # NOTE: enable it per-page with `mathjax: true` in front matter
  mathjax = false

  # Disable Swagger UI by default
  # NOTE: enable it per-page with `swaggerui: true` in front matter
  swaggerui = false

  # Social media accounts
  [params.social]

    # Twitter account (used to set `twitter:site` in the SEO partial)
    twitter = "kubeflow"

  # These entries appear in the drop-down menu at the top of the website.
  [[params.versions]]
    version = "master"
    githubbranch = "master"
    url = "https://master.kubeflow.org"
  [[params.versions]]
    version = "v1.11"
    githubbranch = "v1.11-branch"
    url = "https://v1-11-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.10"
    githubbranch = "v1.10-branch"
    url = "https://v1-10-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.9"
    githubbranch = "v1.9-branch"
    url = "https://v1-9-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.8"
    githubbranch = "v1.8-branch"
    url = "https://v1-8-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.7"
    githubbranch = "v1.7-branch"
    url = "https://v1-7-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.6"
    githubbranch = "v1.6-branch"
    url = "https://v1-6-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.5"
    githubbranch = "v1.5-branch"
    url = "https://v1-5-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.4"
    githubbranch = "v1.4-branch"
    url = "https://v1-4-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.3"
    githubbranch = "v1.3-branch"
    url = "https://v1-3-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.2"
    githubbranch = "v1.2-branch"
    url = "https://v1-2-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.1"
    githubbranch = "v1.1-branch"
    url = "https://v1-1-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.0"
    githubbranch = "v1.0-branch"
    url = "https://v1-0-branch.kubeflow.org"

  # User interface configuration
  [params.ui]
    # Enable the logo
    navbar_logo = true
    # Enable to show the side bar menu in its compact state.
    sidebar_menu_compact = true
    # Enable the search box in the side bar.
    sidebar_search_disable = false
    # Set to true to disable breadcrumb navigation.
    breadcrumb_disable = false
    # Show expand/collapse icon for sidebar sections
    sidebar_menu_foldable = true
    # Disable about button in footer
    footer_about_disable = true

      # Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
      # This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
      # If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
      # add "hide_feedback: true" to the page's front matter.
      [params.ui.feedback]
        enable = true
        # The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
        # NOTE: the actual content of the responses is set in the "layouts/partials/feedback.html" file.
        yes = ""
        no = ""

  # Links in footer
  [params.links]
    [[params.links.user]]
      name = "X"
      url = "https://x.com/kubeflow/"
      icon = "fa-brands fa-x-twitter"
      desc = "Follow us on X to get the latest news!"
    [[params.links.user]]
      name = "YouTube"
      url = "https://www.youtube.com/@KubeflowCommunity"
      icon = "fab fa-youtube"
      desc = "Subscribe to our YouTube channel for the latest videos!"
    [[params.links.user]]
      name = "LinkedIn"
      url = "https://www.linkedin.com/company/kubeflow"
      icon = "fab fa-linkedin"
      desc = "Connect with us on LinkedIn for updates and networking!"
    [[params.links.user]]
      name = "Kubeflow Slack"
      url = "/docs/about/community/#kubeflow-slack-channels"
      icon = "fab fa-slack"
      desc = "Join the Kubeflow Slack Workspace!"
    [[params.links.user]]
      name = "Bluesky"
      url = "https://bsky.app/profile/kubefloworg.bsky.social"
      icon = "fa-brands fa-bluesky"
      desc = "Follow us on Bluesky for the latest updates!"
    [[params.links.user]]
      name = "Kubeflow Mailing List"
      url = "/docs/about/community/#kubeflow-mailing-list"
      icon = "fa fa-envelope"
      desc = "Join the Kubeflow Mailing List!"
    [[params.links.user]]
      name = "Kubeflow Community Calendars"
      url = "/docs/about/community/#kubeflow-community-meetings"
      icon = "fa fa-calendar-day"
      desc = "View the Kubeflow Community Calendars!"
