baseURL = "/"
title = "Kubeflow"
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"

enableRobotsTXT = true

theme = ["docsy"]

###############################################################################
# Docsy
###############################################################################
enableGitInfo = true

# language settings
contentDir = "content/en"
defaultContentLanguage = "en"
# tell Hugo not to include the /en/ element in the URL path for English docs
defaultContentLanguageInSubdir = false
# useful when translating
enableMissingTranslationPlaceholders = true
# disable taxonomies
disableKinds = ["taxonomy"]
# deprecated directories
ignoreFiles = []

###############################################################################
# Hugo - Top-level navigation (horizontal)
###############################################################################
[menu]
  [[menu.main]]
    name = "Kubeflow Summit 2023 "
    weight = -1000
    pre = "<i class='fas fa-calendar pr-2' style='color: #FFC107'></i>"
    post = "<br><span class='badge badge-warning'>Oct 6th</span> <span class='badge badge-warning'>Irving, Texas</span> <span class='badge badge-warning'>Virtual</span>"
    url = "/events/kubeflow-summit-2023/"
  [[menu.main]]
    name = "Documentation"
    weight = -101
    pre = "<i class='fas fa-book pr-2'></i>"
    url = "/docs/"
  [[menu.main]]
    name = "Blog"
    weight = -100
    pre = "<i class='fas fa-rss pr-2'></i>"
    url = "https://blog.kubeflow.org/"
  [[menu.main]]
    name = "GitHub"
    weight = -99
    pre = "<i class='fab fa-github pr-2'></i>"
    url = "https://github.com/kubeflow/"

###############################################################################
# Docsy - Goldmark markdown parser
###############################################################################
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    style = "tango"
    guessSyntax = "true"

###############################################################################
# Docsy - Mermaid configuration
###############################################################################
[params.mermaid]
enable = true

###############################################################################
# Docsy - Image processing configuration
###############################################################################
[imaging]
  resampleFilter = "CatmullRom"
  quality = 75
  anchor = "smart"

###############################################################################
# Docsy - Services configuration
###############################################################################
[services]
  [services.googleAnalytics]
  id = "G-Y2KDEK0998"

###############################################################################
# Docsy - Language configuration
###############################################################################
[languages]
  [languages.en]
    title = "Kubeflow"
    languageName ="English"
    weight = 1

    [languages.en.params]
      description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"

###############################################################################
# Docsy - Site Parameters
###############################################################################
[params]
  github_repo = "https://github.com/kubeflow/website"
  github_project_repo = "https://github.com/kubeflow/kubeflow"

  RSSLink = "/index.xml"
  author = "kubeflow.org" # add your company name
  github = "kubeflow" # add your github profile name
  twitter = "kubeflow" # add your twitter profile

  copyright = "The Kubeflow Authors."
  privacy_policy = "https://policies.google.com/privacy"

  # Google Custom Search Engine ID.
  gcs_engine_id = "007239566369470735695:624rglujm-w"

  # Text label for the version menu in the top bar of the website.
  version_menu = "Kubeflow Version"

  # The major.minor version tag for the version of the docs represented in this
  # branch of the repository. Used in the "version-banner" partial to display a
  # version number for this doc set.
  version = "master"

  # Flag used in the "version-banner" partial to decide whether to display a
  # banner on every page indicating that this is an archived version of the docs.
  archived_version = false

  # A link to latest version of the docs. Used in the "version-banner" partial to
  # point people to the main doc site.
  url_latest_version = "https://kubeflow.org/docs/"

  # A variable used in various docs to determine URLs for config files etc.
  # To find occurrences, search the repo for 'params "githubbranch"'.
  githubbranch = "master"

  # These entries appear in the drop-down menu at the top of the website.
  [[params.versions]]
    version = "master"
    githubbranch = "master"
    url = "https://master.kubeflow.org"
  [[params.versions]]
    version = "v1.8"
    githubbranch = "v1.8-branch"
    url = "https://v1-8-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.7"
    githubbranch = "v1.7-branch"
    url = "https://v1-7-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.6"
    githubbranch = "v1.6-branch"
    url = "https://v1-6-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.5"
    githubbranch = "v1.5-branch"
    url = "https://v1-5-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.4"
    githubbranch = "v1.4-branch"
    url = "https://v1-4-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.3"
    githubbranch = "v1.3-branch"
    url = "https://v1-3-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.2"
    githubbranch = "v1.2-branch"
    url = "https://v1-2-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.1"
    githubbranch = "v1.1-branch"
    url = "https://v1-1-branch.kubeflow.org"
  [[params.versions]]
    version = "v1.0"
    githubbranch = "v1.0-branch"
    url = "https://v1-0-branch.kubeflow.org"
  [[params.versions]]
    version = "v0.7"
    githubbranch = "v0.7-branch"
    url = "https://v0-7.kubeflow.org"
  [[params.versions]]
    version = "v0.6"
    githubbranch = "v0.6-branch"
    url = "https://v0-6.kubeflow.org"
  [[params.versions]]
    version = "v0.5"
    githubbranch = "v0.5-branch"
    url = "https://v0-5.kubeflow.org"
  [[params.versions]]
    version = "v0.4"
    githubbranch = "v0.4-branch"
    url = "https://v0-4.kubeflow.org"
  [[params.versions]]
    version = "v0.3"
    githubbranch = "v0.3-branch"
    url = "https://v0-3.kubeflow.org"

  # User interface configuration
  [params.ui]
    # Enable the logo
    navbar_logo = true
    # Enable to show the side bar menu in its compact state.
    sidebar_menu_compact = true
    # Enable the search box in the side bar.
    sidebar_search_disable = false
    # Set to true to disable breadcrumb navigation.
    breadcrumb_disable = false
    # Show expand/collapse icon for sidebar sections
    sidebar_menu_foldable = true
    # Disable about button in footer
    footer_about_disable = true

      # Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
      # This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
      # If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
      # add "hide_feedback: true" to the page's front matter.
      [params.ui.feedback]
        enable = true
        # The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
        yes = 'Glad to hear it! Please <a href="https://github.com/kubeflow/website/issues/new">tell us how we can improve</a>.'
        no = 'Sorry to hear that. Please <a href="https://github.com/kubeflow/website/issues/new">tell us how we can improve</a>.'

  # Links in footer
  [params.links]
    [[params.links.user]]
      name = "Twitter"
      url = "https://twitter.com/kubeflow/"
      icon = "fab fa-twitter"
      desc = "Follow us on Twitter to get the latest news!"
    [[params.links.user]]
      name = "Kubeflow Slack"
      url = "/docs/about/community/#kubeflow-slack"
      icon = "fab fa-slack"
      desc = "Join the Kubeflow Slack Workspace!"
    [[params.links.user]]
      name = "Kubeflow Mailing List"
      url = "/docs/about/community/#kubeflow-mailing-list"
      icon = "fa fa-envelope"
      desc = "Join the Kubeflow Mailing List!"
    [[params.links.user]]
      name = "Kubeflow Community Calendars"
      url = "/docs/about/community/#kubeflow-community-calendars"
      icon = "fa fa-calendar"
      desc = "View the Kubeflow Community Calendars!"
