baseURL = "/"
languageCode = "en-us"
title = "Kubeflow"
theme = "kf"
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"
Paginate = 4
[Params]
  RSSLink = "/index.xml"
  author = "kubeflow.org" # add your company name
  github = "kubeflow" # add your github profile name
  twitter = "" # add your twitter profile
  email = "myemail@myaddress.xxx"

[[menu.main]]
    name = "What is Kubeflow?"
    weight = -103
    url = "/docs/"
[[menu.main]]
    name = "Getting Started"
    weight = -102
    url = "/docs/started/getting-started/"
[[menu.main]]
    name = "Documentation"
    weight = -101
    url = "/docs/"
[[menu.main]]
    name = "Additional Resources"
    weight = -100
    url = "/blog/"
