baseURL = "/"
languageCode = "en-us"
title = "Kubeflow"
theme = "kf"
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"
Paginate = 20
[Params]
  RSSLink = "/index.xml"
  author = "kubeflow.org" # add your company name
  github = "kubeflow" # add your github profile name
  twitter = "" # add your twitter profile
  email = "myemail@myaddress.xxx"

# Text label for the version menu in the top bar of the website.
version_menu = "v0.2"

# The major.minor version tag for the version of the docs represented in this
# branch of the repository. Used in the "version-banner" partial to display a
# version number for this doc set.
version = "v0.2"

# Flag used in the "version-banner" partial to decide whether to display a 
# banner on every page indicating that this is an archived version of the docs.
archived_version = true

# A link to latest version of the docs. Used in the "version-banner" partial to
# point people to the main doc site.
url_latest_version = "https://kubeflow.org/docs/"

# A variable used in various docs to determine URLs for config files etc.
# To find occurrences, search the repo for 'params "githubbranch"'.
githubbranch = "v0.2-branch"

# Add new release versions here
[[Params.versions]]
  version = "master"
  githubbranch = "master"
  url = "https://master.kubeflow.org"

[[Params.versions]]
  version = "v0.2"
  githubbranch = "v0.2-branch"
  url = "https://v0-2.kubeflow.org"

[[Params.versions]]
  version = "v0.3"
  githubbranch = "v0.3-branch"
  url = "https://v0-3.kubeflow.org"

[[menu.main]]
    name = "What is Kubeflow?"
    weight = -103
    url = "/docs/about/kubeflow/"
[[menu.main]]
    name = "Getting Started"
    weight = -102
    url = "/docs/started/getting-started/"
[[menu.main]]
    name = "Documentation"
    weight = -101
    url = "/docs/about/kubeflow/"
[[menu.main]]
    name = "Additional Resources"
    weight = -100
    url = "/blog/"
[[menu.main]]
    name = "Github"
    weight = -99
    url = "https://github.com/kubeflow/"

[[menu.docs]]
  name = "About"
  weight = 1
  identifier = "about"
  url = "/docs/about/"
[[menu.docs]]
  name = "Getting Started"
  weight = 2
  identifier = "started"
  url = "/docs/started/"
[[menu.docs]]
  name = "Guides"
  weight = 3
  identifier = "guides"
  url = "/docs/guides/"
[[menu.docs]]
  name = "Components"
  weight = 4
  parent = "guides"
  identifier = "components"
  url = "/docs/guides/components/"
