baseURL = "/"
languageCode = "en-us"
title = "Kubeflow"
theme = ["docsy"]
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"
Paginate = 20

# SEO
enableRobotsTXT = true

# Docsy: Gives values to .Lastmod etc.
enableGitInfo = true

# Docsy: Language settings
contentDir = "content"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Docsy: Useful when translating.
enableMissingTranslationPlaceholders = true

disableKinds = ["taxonomy", "taxonomyTerm"]

# Docsy: Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

 # Docsy: First one is picked as the Twitter card image if not set on page.
 #images = ["images/project-illustration.png"]

# Top-level navigation (horizontal)

[[menu.main]]
    name = "What is Kubeflow?"
    weight = -103
    url = "/docs/about/kubeflow/"
[[menu.main]]
    name = "Documentation"
    weight = -101
    url = "/docs/"
[[menu.main]]
    name = "Blog"
    weight = -100
    url = "https://medium.com/kubeflow"
[[menu.main]]
    name = "GitHub"
    weight = -99
    url = "https://github.com/kubeflow/"

# Docsy: Configure the format of URLs per section.
#[permalinks]
#blog = "/:section/:year/:month/:day/:slug/"

## Docsy: Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Docsy: Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[services]
[services.googleAnalytics]
id = "UA-135379910-1"

# Docsy: Language configuration

[languages]
[languages.en]
title = "Kubeflow"
description = "Kubeflow makes deployment of ML Workflows on Kubernetes straightforward and automated"
languageName ="English"
weight = 1
# Example of another language: Norwegian
#[languages.no]
#title = "Docsy"
#description = "Docsy er operativsystem for skyen"
#languageName ="Norsk"
#contentDir = "content/no"
time_format_default = "02.01.2006"
time_format_blog = "02.01.2006"

# Site params

[params]
github_repo = "https://github.com/kubeflow/website"
RSSLink = "/index.xml"
author = "kubeflow.org" # add your company name
github = "kubeflow" # add your github profile name
twitter = "kubeflow" # add your twitter profile
#email = "myemail@myaddress.xxx"

copyright = "The Kubeflow Authors."
privacy_policy = "https://policies.google.com/privacy"

# Docsy: Google Custom Search Engine ID. Remove or comment out to disable search.
gcs_engine_id = "007239566369470735695:624rglujm-w"

# Text label for the version menu in the top bar of the website.
version_menu = "v0.7"

# The major.minor version tag for this doc set. Used in the banner for archived
# doc sets.
version = "v0.7"

# Regex pattern for URLs of archived doc sets. 
# Used in the "version-banner" partial to decide whether to display a banner
# on every page.
# Example pattern: "v\\d+-\\d+\\.kubeflow\\.org" - this pattern matches
# "v0-6.kubeflow.org" and "v10-11.kubeflow.org", 
# but does not match "kubeflow.org" or "www.kubeflow.org".
# Docsy's default value for the regex pattern is "no banner", 
# which results in no banner on the doc pages.
# Examples of archived snapshots for Kubeflow: 
# https://v0-6.kubeflow.org/, https://v0-5.kubeflow.org/, and so on.
archive_url_pattern = "v\\d+-\\d+\\.kubeflow\\.org"

# A variable used in various docs to determine URLs for config files etc.
# To find occurrences, search the repo for 'params "githubbranch"'.
githubbranch = "v0.7-branch"

# Add new release versions here. These entries appear in the drop-down menu
# at the top of the website.
[[params.versions]]
  version = "master"
  githubbranch = "master"
  url = "https://master.kubeflow.org"

[[params.versions]]
  version = "v0.2"
  githubbranch = "v0.2-branch"
  url = "https://v0-2.kubeflow.org"

[[params.versions]]
  version = "v0.3"
  githubbranch = "v0.3-branch"
  url = "https://v0-3.kubeflow.org"

[[params.versions]]
  version = "v0.4"
  githubbranch = "v0.4-branch"
  url = "https://v0-4.kubeflow.org"

[[params.versions]]
  version = "v0.5"
  githubbranch = "v0.5-branch"
  url = "https://v0-5.kubeflow.org"

[[params.versions]]
  version = "v0.6"
  githubbranch = "v0.6-branch"
  url = "https://v0-6.kubeflow.org"

# Docsy: User interface configuration
[params.ui]
# Docsy: Enable to show the side bar menu in its compact state.
sidebar_menu_compact = true
# Docsy: Disable the search box in the side bar.
sidebar_search_disable = true
#  Docsy: Set to true to disable breadcrumb navigation.
breadcrumb_disable = false

# Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
# This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
# If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
# add "hide_feedback: true" to the page's front matter.
[params.ui.feedback]
enable = true
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
yes = 'Glad to hear it! Please <a href="https://github.com/kubeflow/website/issues/new">tell us how we can improve</a>.'
no = 'Sorry to hear that. Please <a href="https://github.com/kubeflow/website/issues/new">tell us how we can improve</a>.'


[params.links]
# Docsy: "User" links will show on left side of footer and in the community page if you have one.
[[params.links.user]]
	name ="Twitter"
	url = "https://twitter.com/kubeflow"
	icon = "fab fa-twitter"
        desc = "Follow us on Twitter to get the latest news"
[[params.links.user]]
	name = "GitHub"
	url = "https://github.com/kubeflow/kubeflow"
	icon = "fab fa-github"
        desc = "Development takes place here!"
[[params.links.user]]
	name = "Slack"
	url = "https://kubeflow.slack.com/join/shared_invite/enQtNDg5MTM4NTQyNjczLTdkNTVhMjg1ZTExOWI0N2QyYTQ2MTIzNTJjMWRiOTFjOGRlZWEzODc1NzMwNTMwM2EzNjY1MTFhODczNjk4MTk"
	icon = "fab fa-slack"
        desc = "Chat with other project contributors"
[[params.links.user]]
	name = "Mailing list"
	url = "https://groups.google.com/forum/#!forum/kubeflow-discuss"
	icon = "fa fa-envelope"
        desc = "Discussion and help from your fellow users"
[[params.links.user]]
	name = "Calendar"
	url = "https://calendar.google.com/calendar/embed?src=kubeflow.org_7l5vnbn8suj2se10sen81d9428%40group.calendar.google.com&ctz=America%2FLos_Angeles"
	icon = "fa fa-calendar"
        desc = "Discussion and help from your fellow users"


# Docsy: "Developer" links will show on right side of footer and in the community page if you have one.
#[[params.links.developer]]
#	name = "A name"
#	url = "http://example.com"
#	icon = "fab fa-envelope"
#       desc = "A description"
