[build]
  publish = "public"
  command = "hugo"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.51"
  NODE_VERSION = "10"

[context.production.environment]
  HUGO_VERSION = "0.51"
  NODE_VERSION = "10"
  HUGO_ENV = "production"
