[build]
  publish = "public"
  command = "hugo"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.89.4"
  NODE_VERSION = "16"

[context.production.environment]
  HUGO_VERSION = "0.89.4"
  HUGO_ENV = "production"
  NODE_VERSION = "16"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.89.4"
  NODE_VERSION = "16"