{{ $currentPage := . }}
<nav id="sectionNav">
<h6 id="sectionNavTrigger" class="trigger collapsible">Section Nav</h6>
<div class="container">
    <ul>
    {{ range $.Site.Menus.docs.ByWeight }}
      {{ if .HasChildren }}
      <li>
      <span class="collapsible open">{{ .Name }}</span>
      <ul>
        {{ range .Children }}
          <li> <a class="{{if eq $currentPage.Title .Name}}current-page-in-section{{end}}" href="{{ .URL }}">{{ .Name }}</a> </li>
        {{ end }}
      </ul>
      </li>
      {{ else }}
        <li> <a href="{{ .URL }}">{{ .Name }}</a> </li>
      {{ end }}

    {{ end }}
    </ul>
</div>
</nav>
