// --------------------------------------------------
// fix header position
// --------------------------------------------------
@include media-breakpoint-up(md) {
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .td-navbar:not(.td-navbar-cover) {
    position: unset;
  }

  .td-main {
    main {
      padding-top: 1rem;
    }

    .td-sidebar {
      padding-top: 0rem;
    }

    .td-sidebar-toc {
      padding-top: 1.25rem;
    }

  }

  .td-outer {
    height: 100%;
  }
}

// --------------------------------------------------
// remove whitespace after footer
// --------------------------------------------------
footer {
  min-height: auto;

  p {
    margin-bottom: 0.4rem;
    line-height: 1.0rem;
  }

  small {
    font-size: 0.7rem;
  }
}

// --------------------------------------------------
// prevent overflow of long names in sidebar
// --------------------------------------------------
.td-sidebar-nav__section > ul {
  overflow-wrap: break-word;
}

// --------------------------------------------------
// custom navbar with larger logo, dropdown on mobile
// --------------------------------------------------
.td-navbar {
  min-height: auto;

  .navbar-brand {
    margin: 0;
    padding: 0;

    .text-uppercase {
      display: none;
    }

    .navbar-logo {
      svg {
        display: inline-block;
        position: absolute;
        top: 0;
        z-index: 33;
        padding: 10px;
        height: 95px;
        background: white;
        border: 2px solid #4279f4;
        border-top: none;

        @include media-breakpoint-down(md) {
          width: 80px;
          height: auto;
          padding: 6px;
        }
      }
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      font-size: .875rem;
      .dropdown {
        min-width: inherit;
      }
    }
  }
}

.td-sidebar {
  padding-bottom: 0.5rem;

  .td-sidebar__inner {
    padding-top: 30px;
    height: unset;

    @include media-breakpoint-down(md) {
      padding-top: 10px;
    }
  }
}

// --------------------------------------------------
// Home page
// --------------------------------------------------
.td-home {

  .card-img-top {
    object-fit: scale-down;
  }

  .text-white {
    font-weight: 400;
  }

  .bg-primary-dark {
    background-color: $dark;

    a {
      border-bottom: 0.1em dotted paleturquoise;

      color: paleturquoise !important;
      font-weight: 600;
      padding: 0 0.2em 0.05em 0.2em;
      text-decoration: none;

      &:hover {
        border-bottom: 1px dotted #fff;

        color: #fff !important;
      }
    }
  }

  .border-primary-dark {
    border-color: $info !important;
  }

  .section-head {
    color: $primary;
    font-weight: bold;
    padding: 0 0 1.9rem 0;
  }

  .image {
    display: block;
  }

  .image img {
    display: block;
    width: 100%;
    height: auto;
  }

  .image.left, .image.right {
    max-width: 45%;
  }

  .image.left::after, .image.right::after {
    clear: both;
    content: "";
    display: block;
  }

  .image.left {
    float: left;
    margin: 0 1.5em 1.5em 0;
  }

  .image.right {
    float: right;
    margin: 0 0 1.5em 1.5em;
  }

  #overview, .components, #cncf, #community {
    padding: 4rem 0 4rem 0 !important;
  }

  #overview p, #community p {
    font-size: 1.125em;
  }

  #overview {
    border-bottom: 0.1rem solid #b6d0ff;
    text-align: center;
  }

  #community {
    border-top: 0.1rem solid #b6d0ff;
    border-bottom: 0.1rem solid #b6d0ff;
    text-align: center;
  }

  #cncf {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;

    .cncf-title {
      color: #6b7281;
      font-weight: bold;
      padding-top: 1.6rem;
    }
  }

  #pageContent .lead {
    margin: 0 1.5em 3em 1.5em;
  }

  #pageContent .lead > .image {
    padding: 0 1.5em;
    max-width: 60%;
    margin-bottom: 1.5em;
  }

  #pageContent .lead > .text p {
    font-size: 1em;
  }

  @media screen and (min-width: 480px) {
    #overview, #community {
      font-size: 1.125em;
    }
    #pageContent .lead > .image {
      max-width: 35%;
      margin-bottom: 3em;
    }
    #pageContent .lead > .text p {
      font-size: 1em;
    }
  }

  @media screen and (min-width: 769px) {
    #pageContent .lead {
      margin-top: 1em;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
    #pageContent .lead > * {
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }
    #pageContent .lead > .image {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    #pageContent .lead > .image > img {
      max-width: 80%;
      margin: 0 auto;
    }
    #pageContent .lead > .text {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
    }
    #pageContent .lead:nth-child(2n+0) > .image {
      -ms-flex-order: 2;
      order: 2;
    }
    #pageContent .lead:nth-child(2n+0) > .text {
      -ms-flex-order: 1;
      order: 1;
    }
  }
}

// --------------------------------------------------
// Installing Kubeflow page
// --------------------------------------------------
.distributions-table thead {
  background-color: $primary;
  color: $secondary;
}

// --------------------------------------------------
// 404 page
// --------------------------------------------------
.error-page {
  margin-top: 120px;

  ul {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }

  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 100px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

// --------------------------------------------------
// for tabbed code blocks
// https://github.com/kubeflow/website/pull/2779
// --------------------------------------------------
.nav-tabs {
  border-bottom: none !important;
}

.td-content > ul li,
.td-content > ol li.nav-item {
  margin-bottom: 0px;
}

.td-content .tab-content .highlight {
  margin: 0;
}

.tab-pane {
  border-radius: 0.25rem;
  padding: 0 16px 16px;

  border: 1px solid #dee2e6;

  &:first-of-type.active {
    border-top-left-radius: 0;
  }
}

nav.foldable-nav .ul-1 .with-child>label:hover:before {
  transform: none;
}

nav.foldable-nav .ul-1 .with-child>input:checked~label:hover:before {
  transform: rotate(90deg) !important;
}