footer {
  min-height: auto;

  @media (max-width: 991.98px) {
    min-height: auto;
  }
}

@media (min-width: 768px) {
  .td-sidebar-nav__section > ul {
    padding-left: .5rem !important;
  }
}

.td-navbar {
  min-height: auto;
}

.navbar-nav {
  @media (max-width: 992px) {
    font-size: .875rem;
    .dropdown {
      min-width: inherit;
    }
  }
}