/*

Add styles or override variables from the theme here.

*/

// Theme colors

$primary: #4279f4;
$secondary: #fff;

// Navbar

$white: #fff;
$navbar-dark-color: rgba($white, 1) !default;
$navbar-dark-hover-color: rgba($white, 0.75) !default;
$navbar-dark-active-color: $navbar-dark-color !default;
