// --------------------------------------------------
// Sidebar
// --------------------------------------------------
$td-sidebar-section-title-color: $gray-900;
$td-sidebar-link-color: $gray-700;
$td-sidebar-bg-color: rgba($primary, 0.03);
$td-sidebar-border-color: $border-color;
$td-sidebar-closed-color: $gray-900;
$td-sidebar-left-stroke-color: $gray-400;
$td-sidebar-left-stroke-active-color: lighten($primary, 25%);

// --------------------------------------------------
// Search
// --------------------------------------------------
$search-icon-color: $gray-600;
$search-placeholder-color: $gray-600;
$search-bg-color: $body-bg;
$search-border-color: $gray-300;
$search-border-focus-color: lighten($teal, 10%);
$search-shadow-color: transparentize($gray-700, 0.75);

// --------------------------------------------------
// Home page
// --------------------------------------------------
$home-section-title-color: $dark;
$home-card-top-bg: rgba($primary, 0.05);
$home-card-body-bg: $dark;
$home-card-body-color: $gray-200;
$home-card-body-title-color: $gray-100;
$cncf-title-color: lighten($body-color, 30%);

// --------------------------------------------------
// Navbar
// --------------------------------------------------
$navbar-bg: $primary;
$navbar-logo-bg: $white;
$navbar-logo-border: darken($navbar-bg, 10%);

// --------------------------------------------------
// Code
// --------------------------------------------------
$code-inline-bg: rgba($black, 0.04);
$code-block-bg: #f8f8f8; // tango

// --------------------------------------------------
// Alerts
// --------------------------------------------------
$alert-bg: rgba($black, 0.02);

// --------------------------------------------------
// Popovers
// --------------------------------------------------
$popover-header-bg: $dark;
$popover-border-color: rgba($white, 0.2);