{{ define "title" }} {{ .Title }} {{ end }}
{{ define "mobilenav" }} {{ partial "mobilenav" . }} {{ end }}
{{ define "header" }} {{ partial "header" . }} {{ end }}
{{ define "main" }}
<div id="contentWrap">
  <section id="pageContent">
    <div>
      <h1 id="anchor1"> {{ .Title}} </h1>
      <p>
         {{ if .Params.bref }}
           {{ .Params.bref | safeHTML }}
         {{ end }}
      </p>
    </div> 

    {{ .Content }}

  </section>
  <!-- end pageContent -->
</div>
<!-- end contentWrap -->

{{ end }}
{{ define "footer" }} {{ partial "footer" . }} {{ end }}
