{{- if and (not .IsHome) .File }}
<script type="application/ld+json">
[
  {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "articleSection" : {{ .Section }},
      "name" : {{ .Title }},
      "headline" : {{ .Title }},
      {{- if .Description }}
      "description" : {{ .Description }},
      {{- else if .IsPage }}
      "description" : {{ .Summary }},
      {{- end }}
      "inLanguage" : "en-US",
      "copyrightHolder" : {{ .Site.Param "copyright" }},
      "copyrightYear" : {{ .Lastmod.Year }},
      "dateModified" : {{ .Lastmod }},
      "url" : {{ .Permalink }},
      "wordCount" : {{ .WordCount }},
      "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Kubeflow" ]
  }
  {{- if gt (len .Ancestors) 1 }},
  {
      "@context" : "http://schema.org",
      "@type" : "BreadcrumbList",
      "itemListElement" : [
          {{- $finalIndex := sub (len .Ancestors) 1 }}
          {{- range $index, $item := .Ancestors.Reverse }}
          {{- if gt $index 0 }}
          {
              "@type" : "ListItem",
              "position" : {{ $index }},
              "item" : {
                  "@id" : {{ $item.Permalink }},
                  "name" : {{ $item.Title }}
              }
          }{{ if ne $index $finalIndex }},{{ end }}
          {{- end }}
          {{- end }}
      ]
  }
  {{- end }}
]
</script>
{{- end }}