<!-- NOTE: when updating, don't forget to update the style version in `shortcodes/swaggerui-inline.html` -->
<script
  src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.17.14/swagger-ui-bundle.js"
  integrity="sha384-wmyclcVGX/WhUkdkATwhaK1X1JtiNrr2EoYJ+diV3vj4v6OC5yCeSu+yW13SYJep"
  crossorigin="anonymous">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5.17.14/swagger-ui-standalone-preset.js"
  integrity="sha384-2YH8WDRaj7V2OqU/trsmzSagmk/E2SutiCsGkdgoQwC9pNUJV1u/141DHB6jgs8t"
  crossorigin="anonymous">
</script>
<!-- NOTE: we use the js-yaml package to parse the YAML/JSON files into JS objects so we can remove fields that cause swagger-ui to display unneeded UI elements -->
<script
  src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"
  integrity="sha256-Rdw90D3AegZwWiwpibjH9wkBPwS9U4bjJ51ORH8H69c="
  crossorigin="anonymous">
</script>