<!-- Check the variable that indicates whether this is an archived doc set. If yes, display a banner. -->
{{- $latest_version_url := .Site.Params.url_latest_version }}
{{- $current_version := replace .Site.Params.version "v" "" | markdownify }}
{{- if .Site.Params.archived_version }}
  <style>
    .version-banner {
      padding: 1.5rem;
      margin: 2rem 0;
      max-width: 40rem;
      border-style: solid;
      border-color: #f0ad4e;
      background-color: #faf5b6;
      border-radius: 0.25rem;
    }
    .version-banner h3 {
      margin-top: 0;
      margin-bottom: 0.6em;
      font-size: 1.25em;
    }
    .version-banner p {
      margin-top: 0;
      margin-bottom: 0;
    }
  </style>
  <div class="version-banner">
    <h3>You are viewing documentation for <strong>Kubeflow {{ $current_version }}</strong></h3>
    <p>
      This is a static snapshot from the time of the Kubeflow {{ $current_version }} release.
      <br>
      For up-to-date information, see the <a href="{{ $latest_version_url | safeURL }}">latest version</a>.
    </p>
  </div>
{{- end }}