{{ .Page.Store.Set "hasPopper" true }}
{{- $version_full := replaceRE `\s` "" .Inner }}
{{- $version_short := replaceRE `^(\d+)\.(\d+)\.(\d+).*` `$1.$2` $version_full }}

{{- $latest_release_json_path := "release-info/latest.json" }}
{{- $latest_release_json := .Page.Resources.Get $latest_release_json_path }}
{{- if not $latest_release_json }}
  {{- errorf `Failed to get "latest" release info, no file at %q.` $latest_release_json_path }}
{{- end }}
{{- $latest_release := $latest_release_json | transform.Unmarshal }}
{{- $latest_release_full := $latest_release.tag | replaceRE `^v(\d+)\.(\d+)\.(\d+).*` `$1.$2.$3` }}
{{- $latest_release_major := $latest_release.tag | replaceRE `^v(\d+)\.(\d+)\.(\d+).*` `$1` | int  }}
{{- $latest_release_minor := $latest_release.tag | replaceRE `^v(\d+)\.(\d+)\.(\d+).*` `$2` | int  }}

{{- $this_release_json_path := printf "release-info/v%s.json" $version_full }}
{{- $this_release_json := .Page.Resources.Get $this_release_json_path }}
{{- if not $this_release_json }}
  {{- errorf "Failed to get release info for version %q, no file at %q.\n\n\n!!!! TIP: run the './content/en/docs/started/installing-kubeflow/get_new_releases.sh' to update Kubeflow release information !!!!\n\n\n" $version_full $this_release_json_path $version_full }}
{{- end }}
{{- $this_release := $this_release_json | transform.Unmarshal }}
{{- $this_release_major := $this_release.tag | replaceRE `^v(\d+)\.(\d+)\.(\d+).*` `$1` | int }}
{{- $this_release_minor := $this_release.tag | replaceRE `^v(\d+)\.(\d+)\.(\d+).*` `$2` | int }}
{{- $this_release_date := $this_release.publish_date | time.AsTime }}
{{- $this_release_date_string := $this_release_date | time.Format ":date_long" }}

{{- $this_version_lag := sub $latest_release_minor $this_release_minor }}
{{- $popup_content_prefix := printf "Kubeflow %s was initially released on <strong>%s</strong> and is <strong>%d</strong> minor versions behind the latest release." $version_full $this_release_date_string $this_version_lag }}
{{- $popup_content_suffix := "Distributions are supported by their maintainers. Contact the provider for information on support and updates." }}

{{- $button_style := "" }}
{{- $popup_icon := "" }}
{{- $popup_title := "" }}
{{- $popup_content :=  "" }}
{{- if eq $this_version_lag 0 }}
  {{- $button_style = "btn-outline-primary" }}
  {{- $popup_icon = "" }}
  {{- $popup_title = "Version Info" }}
  {{- $popup_content = printf `%s<br><br>%s` $popup_content_prefix $popup_content_suffix }}
{{- else if eq $this_version_lag 1 }}
  {{- $button_style = "btn-outline-primary" }}
  {{- $popup_icon = "" }}
  {{- $popup_title = "Version Info" }}
  {{- $popup_content = printf `%s<br><br>%s` $popup_content_prefix $popup_content_suffix }}
{{- else if eq $this_version_lag 2 }}
  {{- $button_style = "btn-outline-primary" }}
  {{- $popup_icon = "" }}
  {{- $popup_title = "Version Info" }}
  {{- $popup_content = printf `%s<br><br>%s` $popup_content_prefix $popup_content_suffix }}
{{- else }}
  {{- $button_style = "btn-outline-primary" }}
  {{- $popup_icon = "" }}
  {{- $popup_title = "Version Info" }}
  {{- $popup_content = printf `%s<br><br>%s` $popup_content_prefix $popup_content_suffix }}
{{- end }}

<button
  type="button"
  class="btn btn-sm {{ $button_style }} d-block d-lg-inline mb-2 mb-lg-0"
  data-container="body"
  data-placement="right"
  data-toggle="popover"
  data-trigger="hover focus"
  data-html="true"
  title="{{ $popup_title }}"
  data-content="{{ $popup_content }}"
>
  {{- if $popup_icon }}
  <i class="fas {{ $popup_icon }}"></i>
  {{- end }}
  <span>
    {{- if eq $this_version_lag 0 }}
    <strong>{{ $version_short }}</strong>
    {{- else }}
    {{ $version_short }}
    {{- end }}
  </span>
</button>